*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  margin: 0 auto;
  width: 100%;
  padding: 0;
  background-color: rgba(21, 41, 58, 1);
  min-height: 100vh;
}
#root{
  height: 100vh !important;
}
.container{
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  min-width: 100%;
  gap: 3rem;
  --bs-gutter-x: 0 !important;
  height: 100% !important;

  
}
.header{
  background-color: rgba(21, 41, 58, 1);
  color: rgba(255, 255, 255, 0.99);
  width: 100%;
  text-align: center;
  padding: 15px;
}
.tour-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem;
  height: 400px;
}

.tour-card{
  display: flex;
  flex-direction: column;
  flex: 1 1 320px;
  max-width: 320px;
  box-shadow: 0 0 10px 1px rgba(21, 41, 58, 1);
  border-radius: 10px;
}
.tour-img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 200px; /* vagy 250px */
  object-fit: cover;

}
.ModalImg{
    width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 200px; /* vagy 250px */
  object-fit: cover;
}
.alma{
  background-color: rgba(21, 41, 58, 1) !important;
  color: rgba(255, 254, 245, 0.911);
  
  
}
.modal-content{
  border-radius: 10px !important;
  box-shadow: 0 0 15px 2px rgba(255, 254, 245, 0.911);
}
.modal1{
  border-radius: 10px !important;
}

.img-container{
  padding: 0 !important;
  
}